
@{
    ViewBag.Title = "HouseAddFailure";
}

<h2>Niepowodzenie :(</h2>

<div class="alert alert-success">
    <strong>Przykro nam..</strong> Nie udało się dodać domku do bazy danych. Kliknij tu, aby spróbować ponownie @Html.ActionLink("Dodaj domek", "HouseAdd", "HouseInsert")
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />