
@{
    ViewBag.Title = "HouseAddSuccess";
}

<h2>Sukces!</h2>


<div class="alert alert-success">
    <strong>Gratulacje!</strong> Domek został dodany do bazy danych. <a href="~/HouseInsert/HouseAdd" class="alert-link">Kliknij tu</a>, aby dodać kolejny.
</div>

<br />
<div>
    @Html.ActionLink("Powrót", "Index", "Home")
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

