
@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@


<h4>O nas</h4>

<img src="~/Content/summer_house.jpg" height="400" style="display:inline-block;float:left;" /> 

    <br />

    <p>  Nasza firma od 2018r. zajmuje się prowadzeniem portalu ogłoszeniowego z najlepszą ofertą domków letniskowych na rynku. Uszczęśliwiliśmy już wielu klientów, także zaufaj nam i wybierz odpowiednią dla siebie ofertę z wielu dostępnych.</p>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
