
@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@

<br />

<h3>@ViewBag.Message</h3>

<br />

<address>
    ul. Poznańska 26A<br />
    Rzeszów, 35-083<br />
    <abbr title="Telefon">P:</abbr>
    532.675.168
</address>

<br />
<br />

<address>
    <strong>Wsparcie techniczne:</strong>   <a href="mailto:support@domkimarzen.com">support@domkimarzen.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@domkimarzen.com">marketing@domkimarzen.com</a>
</address>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


