@{
    ViewBag.Title = "VerifyAccount";
}

<h2>Weryfikacja konta</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Dziękujemy!</strong> Twoje konto zostało pomyślnie założone. Kliknij tu, aby zalogować się na konto @Html.ActionLink("Login","Login","User")
    </div>
}
else{
    <div class="alert alert-danger">
        <strong>Błąd!</strong> @ViewBag.Message
    </div>
}